name: publish on pypi

on:
  workflow_dispatch:
  pull_request:
  release:
    types: [published]

env:
  UV_VERSION: "0.7.x"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: ${{ env.UV_VERSION }}

      - name: Install
        run: make install

      - name: Verify lockfile is up-to-date
        run: |
          uv lock --check

      - name: Build
        run: make build

      - name: Publish to PyPi
        if: github.event_name == 'release' || github.event_name == 'workflow_dispatch'
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          uv publish --token $UV_PUBLISH_TOKEN
