name: Test Koza

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

env:
  UV_VERSION: "0.7.x"

jobs:
  test-python3-ubuntu-latest:
    name: test py${{ matrix.python-version }} on linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    env:
      OS: ubuntu

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: ${{ env.UV_VERSION }}
          python-version: ${{ matrix.python-version }}

      - name: Install library
        run: make install

      - name: Verify lockfile is up-to-date
        run: |
          uv lock --check

      - name: Run tests
        run: make test
